<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327501807065-l9p8sfeeenmbc9jcr3s03dlga5kr13qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327501807065-l9p8sfeeenmbc9jcr3s03dlga5kr13qc</string>
	<key>API_KEY</key>
	<string>AIzaSyBZQETpV6GegHuNX6Dp0P9kDuVzAQNNzKY</string>
	<key>GCM_SENDER_ID</key>
	<string>327501807065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ndua</string>
	<key>PROJECT_ID</key>
	<string>ndua-b15fc</string>
	<key>STORAGE_BUCKET</key>
	<string>ndua-b15fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327501807065:ios:569c9715b077999ab2adc8</string>
</dict>
</plist>